{% extends '__base.html' %}

{% block title %}Profile {{ user.nickname }}{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            background-color: #121212;
            color: #ffffff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .profile-container {
            display: flex;
            max-width: 1200px;
            margin: 40px auto;
            background-color: #1e1e1e;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }
        .left-section {
            flex: 1;
            text-align: center;
            margin-bottom: 30px;
        }
        .left-section h1 {
            font-size: 2.8em;
            color: #ff9800;
        }
        .left-section .edit-profile a {
            display: inline-block;
            padding: 12px 24px;
            background-color: #ff9800;
            color: #ffffff;
            font-size: 1.2em;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s;
            margin-top: 15px;
        }
        .left-section .edit-profile a:hover {
            background-color: #e68900;
        }
        .right-section {
            flex: 1;
            margin-left: 30px;
            display: none; /* Initially hide the right section */
        }
        .social-links {
            text-align: center;
            margin-bottom: 25px;
        }
        .social-links a {
            margin: 0 10px;
            color: #ff9800;
            font-size: 1.2em;
            text-decoration: none;
        }
        .social-links a:hover {
            color: #e68900;
        }
        .stats {
            display: flex;
            justify-content: center;
            gap: 30px;
            margin-bottom: 25px;
        }
        .stats div {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1.1em;
        }
        .stats svg {
            fill: currentColor;
        }
        .bio {
            background-color: #252525;
            padding: 20px;
            border-radius: 10px;
        }
        .bio h3 {
            color: #ff9800;
            margin-bottom: 10px;
        }
        .bio p {
            margin: 5px 0;
            line-height: 1.6;
        }
        .subscriber-list {
            margin-top: 30px;
            background-color: #252525;
            padding: 20px;
            border-radius: 10px;
        }
        .subscriber-list h3 {
            color: #ff9800;
        }
        .subscriber-list ul {
            list-style-type: none;
            padding: 0;
        }
 

        .subscriber-list li {
            list-style-type: none;  
            margin-left: 10px; 
        }
        
        .bullet {
            margin-right: 10px; 
            color: #96a7b9;
        }
        
        
        .toggle-followers-btn {
            background-color: #ff9800;
            color: #ffffff;
            padding: 10px 20px;
            font-size: 1.1em;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }
        .toggle-followers-btn:hover {
            background-color: #e68900;
        }

        .subscriber-link {
            color: #ff9800;
            text-decoration: none;
        }
        
        .subscriber-link:hover {
            color: #e68900;
            text-decoration: underline;
        }
        
    </style>
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="left-section">
            <h1>{{ user.nickname }}</h1>
            {% if user.nickname != current %}
                <div class="edit-profile">
                    <a href="{{ url_for('subscribe', subscribe_to_id=user.id) }}" class="subscribe-btn">Subscribe</a>
                </div>
            {% else %}
                <div class="edit-profile">
                    <a href='/edit_profile/{{ user.nickname }}'>Edit My Data</a>
                </div>
            {% endif %}


            <div class="social-links">
                <a href="{{ user.telegram_link }}" target="_blank">Telegram</a>
                <a href="{{ user.github_link }}" target="_blank">GitHub</a>
                <a href="{{ user.linkedin_link }}" target="_blank">LinkedIn</a>
            </div>

            <div class="stats">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16" fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M12 12c2.7 0 5.01-2.3 5.01-5S14.7 2 12 2 6.99 4.3 6.99 7 9.3 12 12 12zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                    <span>
                        <span class="toggle-followers-text" onclick="toggleFollowers()">
                            <strong>{{ user.subscribers_count }}</strong> followers
                        </span>
                    </span>
                </div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" viewBox="0 0 24 24" width="16" fill="currentColor">
                        <path d="M0 0h24v24H0V0z" fill="none"/>
                        <path d="M12 12c2.7 0 5.01-2.3 5.01-5S14.7 2 12 2 6.99 4.3 6.99 7 9.3 12 12 12zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                    </svg>
                    <span><strong>{{ user.subscribtions_count }}</strong> following</span>
                </div>
            </div>

            <div class="bio">
                <h3>Tech stack:</h3>
                <p>{{ user.tech_stack }}</p>
                <h3>Bio:</h3>
                <p>{{ user.bio }}</p>
                <h3>Registration date:</h3>
                <p>{{ user.registration_date.strftime('%Y-%m-%d %H:%M') }}</p>
            </div>
        </div>


        <div class="right-section">
            <div class="subscriber-list">
                <h3>Subscribers</h3>
                <ul>
                    {% for subscriber in subscribers %}
                        <li>
                            <span class="bullet">•</span> 
                            <a href="/profile/{{ subscriber }}" class="subscriber-link">{{ subscriber }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>

    <script>

        function toggleFollowers() {
            const rightSection = document.querySelector('.right-section');
            const currentDisplay = rightSection.style.display;

            if (currentDisplay === 'none' || currentDisplay === '') {
                rightSection.style.display = 'block';
            } else {
                rightSection.style.display = 'none';
            }
        }
    </script>
{% endblock %}
